Cliente
<select (change)="cambioCliente($event)">
  <option value="Todos">Todos</option>
  <option *ngFor="let item3 of clientes.clientes" [value]="item3.id">{{item3.nombre}}</option>
</select>
Estado
<select (change)="cambioEstado($event)">
  <option value="Todos">Todos</option>
  <option value="solo vencidos">Solo Vencidos</option>
  <option value="solo vigentes">Solo Vigentes</option>
</select>
Vencimiento (días) <input value="30"(input)="vencimiento=$event.target.value" type="text" >
<button class="room" (click)="buscar()">Buscar</button>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID Bolsa Punto</th>
      <th scope="col">Cliente</th>
      <th scope="col">Fecha de Caducidad</th>
      <th scope="col">Saldo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <tr *ngFor="let item1 of bolsaPuntos.bolsas" >
        <td>{{item1.id}}</td>
        <td>{{item1.cliente.id}}</td>
        <td>{{item1.fecha_caducidad}}</td>
        <td>{{item1.saldo_punto}}</td>

    </tr>
  </tbody>
</table>