<!--
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<button type="button" [routerLink]="['/bolsaPuntos']" class="btn btn-primary"] >Bolsa Puntos</button>
<button type="button" [routerLink]="['/usoPuntos']" class="btn btn-success"] >Uso Puntos</button>
<router-outlet></router-outlet>
-->
<app-reserva></app-reserva>