<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': display}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close"(click)="cerrar()" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <select (change)="cambioCliente2($event)">
                <option value="Todos">Elija el cliente</option>
                <option *ngFor="let item4 of clientes.clientes" [value]="item4.id">Id:{{item4.id}} Nombre:{{item4.nombre}}</option>
              </select>
              <select (change)="cambioConcepto2($event)">
                  <option value="Todos">Elija el Concepto de Uso</option>
                  <option *ngFor="let item5 of conceptos.puntos" [value]="item5.id">Id:{{item5.id}} Descripcion: {{item5.desc_concepto}}</option>
                </select>            
          
          <button type="room" (click)="cerrarModal()" data-dismiss="modal" >Aceptar</button>
        </div>
      </div>
    </div>
  </div>
Concepto
<select (change)="cambioConcepto($event)">
  <option value="Todos">Todos</option>
  <option *ngFor="let item2 of conceptos.puntos" [value]="item2.id">{{item2.desc_concepto}}</option>
</select>
Cliente
<select (change)="cambioCliente($event)">
  <option value="Todos">Todos</option>
  <option *ngFor="let item3 of clientes.clientes" [value]="item3.id">{{item3.nombre}}</option>
</select>
Fecha Desde <input value="2019-05-16"(input)="fechaDesde=$event.target.value" type="text" >
Fecha Hasta<input value="2019-05-16"(input)="fechaHasta=$event.target.value" type="text" >
<button class="room" (click)="buscar()">Buscar</button>
<br>
<button class="room" (click)="utilizarPuntos()">Utilizar Puntos</button>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id Uso Punto</th>
      <th scope="col">Concepto Punto</th>
      <th scope="col">Fecha Uso</th>
      <th scope="col">Cliente</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <tr *ngFor="let item1 of usopuntos.uso_punto" >
        <td>{{item1.id}}</td>
        <td>{{item1.concepto_punto.desc_concepto}}</td>
        <td>{{item1.fecha_asignado}}</td>
        <td>{{item1.cliente.id}}</td>

    </tr>
  </tbody>
</table>